@using Microsoft.AspNetCore.Antiforgery
@using HomeFinder.ViewModels
@model int

@inject IAntiforgery antiforgery

@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

<button class="btn btn-outline-primary col-12 mt-2" data-toggle="modal" data-target="#interest-reg-modal" type="button"
    onclick="GetRegistrationModal()">
    Intresseanm채lan
</button>

<div class="modal fade" id="interest-reg-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Intresseanm채lan</h4>
            </div>
            <div class="modal-body" id="interest-reg-message">
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" id="interest-reg-close-btn" type="button"
                    onclick="RegisterInterest()">
                    Anm채l intresse
                </button>
                <button class="btn btn-outline-primary" type="button" data-dismiss="modal">
                    St채ng
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function GetRegistrationModal() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/interestregistration/interestregistration/" + "@Model",
            success:
                function (returnArgs) {
                    var messageBox = document.getElementById("interest-reg-message");
                    messageBox.textContent = returnArgs.message;
                    var btn = document.getElementById("interest-reg-close-btn");
                    if (returnArgs.hasRegisteredInterest || !returnArgs.isSuccess) {
                        btn.style.visibility = "hidden";
                    }
                    else {
                        btn.style.visibility = "visible"
                    }
                },
            error: function () { alert("Error occured"); }
        });
    }
    function RegisterInterest() {
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "/interestregistration/addinterestregistration/" + "@Model",
            headers: {
                "@tokenSet.HeaderName": "@tokenSet.RequestToken"
            },
            success:
                function (returnArgs) {
                    var messageBox = document.getElementById("interest-reg-message");
                    messageBox.textContent = returnArgs.message;
                    var btn = document.getElementById("interest-reg-close-btn");
                    btn.style.visibility = "hidden";
                },
            error: function () { alert("Error occured"); }
        });
    }
</script>
