@using HomeFinder.ViewModels
@model InterestRegistrationViewModel

@{
    ViewData["Title"] = "_InterestRegistration";
}

<h1>@ViewData["Title"]</h1>

<div>
    
</div>

<script type="text/javascript">
    function GetData() {
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "../Home/GetData" + "?test=1", 
            success: function (data) { alert('Successfully get method executed.') },
            error: function (a, jqXHR, exception) { }
        });
    }
    function PostData() {
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "../Home/PostData",
            data: "{ 'test': '2'}",
            success: function (data) { alert(data) },
            error: function (a, jqXHR, exception) { }
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>