@using HomeFinder.ViewModels
@model InterestRegistrationViewModel

@{
    ViewData["Title"] = "Anmäl intresse";
}


<div class="card">
    <h3 class="display-4">Anmäl intresse för objekt</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.Message <br />
            Klicka <a asp-controller="Items" asp-action="GetItem" asp-route-id="@ViewBag.ItemId">här</a> för att gå tillbaka
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <form asp-controller="InterestRegistration"
                      asp-action="InterestRegistration">
                    <input type="hidden"
                           asp-for="@Model.ItemId" />
                    <input type="hidden"
                           asp-for="@Model.UserId" />
                    <input type="submit"
                           value="Anmäl intresse"
                           class="btn btn-outline-primary" />
                </form>
            </div>
        </div>
    }

</div>


