@using Microsoft.AspNetCore.Identity
@using HomeFinder.ViewModels
@model InterestRegistrationViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Anmäl intresse";
}


<div class="row">
    <div class="col-12">

    </div>
</div>


