@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse glömt lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kontrollera din e-post för instruktioner för återställning av ditt lösenord.
</p>

