@using HomeFinder.ViewModels

@model ItemViewModel
@{
    ViewData["Title"] = "Add new item";
}

<div class="container">
    <h3 class="display-4">Lägg till nytt objekt</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> Du har nu skapat ditt objekt <br />
            Click <a asp-controller="Items" asp-action="GetItem" asp-route-id="@ViewBag.ItemId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<form method="post" enctype="multipart/form-data" asp-action="AddNewItem" asp-controller="Items">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="my-1">
        <select asp-for="ItemType" asp-items="Model.ItemTypeList">
            <option value="">Alla objekt</option>
        </select>
    </div>

    @*<div class="form-group">
            <label asp-for="ItemType" class="control-label"></label>
            <input asp-for="ItemType" class="form-control" />
            <span asp-validation-for="ItemType" class="text-danger"></span>
        </div>*@

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LivingArea" class="control-label"></label>
        <input asp-for="LivingArea" class="form-control" />
        <span asp-validation-for="LivingArea" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NrOfRoom" class="control-label"></label>
        <input asp-for="NrOfRoom" class="form-control" />
        <span asp-validation-for="NrOfRoom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormOfLease" class="control-label"></label>
        <input asp-for="FormOfLease" class="form-control" />
        <span asp-validation-for="FormOfLease" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConstructionYear" class="control-label"></label>
        <input asp-for="ConstructionYear" class="form-control" />
        <span asp-validation-for="ConstructionYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ListingDate" class="control-label"></label>
        <input asp-for="ListingDate" class="form-control" />
        <span asp-validation-for="ListingDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MainPhoto" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="MainPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="MainPhoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFiles" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="ImageFiles" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="ImageFiles" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Add item" class="btn btn-primary" />
    </div>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
