body{
   
}
.front {
    background-image: url('../img/city.jpg');
    background-size: cover;
    border: 1px solid black;
   
}
    .front span {
        margin-top: 5px;
        margin-bottom: 5px;
        /*background-color: whitesmoke;*/
        background-color:aliceblue;
        font: bolder;
        padding: 1px;
        border: 2px solid grey;
        border-radius: 5px;
    }
