body{
   
}
.front {
    background-image: url('../placeholderimg/city.jpg');
    background-size: cover;
    border-radius: 2px;
}
    /*.front span {*/
        /*background-color: whitesmoke;*/
        /*background-color:aliceblue;
        font: bolder;
        font-size: 1.1rem;
        border: 2px solid grey;
        border-radius: 5px;
    }*/
