@{
    ViewData["Title"] = "Mäklarsida";
}

<div class="container">

    <h3 class="display-4">@ViewData["Title"]</h3>

    <div class="row">
        <div class="col-md-6">

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

    <div class="col-md-6">
        
        <div class="row">
            <div class="col-md-12">
                <img src="~/placeholderimg/sleezy_broker.jpg" alt="Broker" height="600" />
            </div>
        </div>
        
        <hr />
        
        <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Namn - </span> Sleezy McSleeze</li>
            <li class="list-group-item"><span class="font-weight-bold">Nummer - </span> 0762 55 55 55</li>
            <li class="list-group-item"><span class="font-weight-bold">Mail - </span> Sleezy&#64SleezeCo.com</li>
        </ul>

    </div>

</div>